{{!-- Final slide --}}
<section class="section-title" data-background="{{ theme.mainColor }}" data-transition="{{ theme.specialTransition }}">
	<h2>{{ title }}</h2>
	<h3>{{ subtitle }}</h3>
</section>
